.prop-table {
    width: 80%;
    font-size: 16px;
    border-collapse:collapse;
}
.prop-table td {
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.prop-table thead {
    background: #fafafa;
}
.prop-table thead th {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

}
.prop-table thead th:first-child,  .prop-table td:first-child {
    border-left: 1px solid #f0f0f0;
}

.prop-table thead th:last-child,  .prop-table td:last-child {
    border-right: 1px solid #f0f0f0;
}

.prop-table tbody tr:nth-child(odd):hover {
    background:  #f0f0f0;
}

.prop-table tbody td:nth-child(3) {
    color: #c41d7f;
}
.prop-table tbody td:nth-child(1) {
    color: #595959;
}

.prop-table tbody td:last-child pre {
    margin: 0;
    padding: 2px 4px;
    background: #f2f4f5;
    border: 1px solid #f0f0f0;
    border-radius: 3px;

}



.prop-table thead tr {
   border-left: 1px solid #f0f0f0;
}


.prop-table th {
    padding: 0;
}
.prop-table thead {
    height: 40px;
}
